.home {

    .welcome {
        img {
            margin-bottom: @basic-gutter;
        }
    }

    .content-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
     
        
        .text-content {
        }

        .img-content {

            img {
                border-radius: 10px;
            }
        }
    }

    .content-destination {
        .dashed-border(bottom);
        img {
            border-radius: 10px;
        }
    }

    .content-pick {
        padding-top: @basic-gutter;
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;

        .destination {
            margin-bottom: @basic-gutter;
        }
    }
}// home